<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: orange;
  }
  .pagination {
    padding: 70px;
    margin-bottom: 20px;
    color: #666;
    font: 14px/24px sans-serif;
}
.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    font: 14px/24px sans-serif;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Chat Interno</h3>
        </div>
        <div class="card w-100">
          <div class="card-body" *ngFor="let chat of chats" >
            <h5 class="card-title">Suas mensagens com {{chat.usernameDestinatario.toLocaleUpperCase()}}</h5>
            <p class="card-text">Clique aqui para ver todas as suas mensagens</p>
            <a  (click)="goToChat(chat.idUsuarioDestinatario)" class="btn btn-primary">Ver Mensagens</a>
          </div>
        </div>

      </div>
    </div>
  </div>
