<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: orange;
  }
  .pagination {
    padding: 70px;
    margin-bottom: 20px;
    color: #666;
    font: 14px/24px sans-serif;
}
.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    font: 14px/24px sans-serif;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Administradores</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Profissão</th>
                <th scope="col">Username</th>
                <th>Remover Administrador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios | paginate: { id: 'foo', itemsPerPage: 5, currentPage: pageAtual }">
                <th>{{usuario.name}}</th>
                <th>{{usuario.email}}</th>
                <th>{{usuario.profissaoDesignada}}</th>
                <th>{{usuario.username}}</th>
                <th scope="col"><button (click)="removerAdm(usuario)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Remover</button></th>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="col-11 justify-content-center">
            <pagination-controls id="foo" class="my-pagination" (pageChange)="pageAtual = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuários</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Profissão</th>
                <th scope="col">Username</th>
                <th>Tornar Administrador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuariosQ | paginate: { id: 'page2', itemsPerPage: 5, currentPage: pageAtual }">
                <th>{{usuario.name}}</th>
                <th>{{usuario.email}}</th>
                <th>{{usuario.profissaoDesignada}}</th>
                <th>{{usuario.username}}</th>
                <th scope="col"><button (click)="tornarAdm(usuario)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Tornar</button></th>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="col-11 justify-content-center">
            <pagination-controls id="page2" class="my-pagination" (pageChange)="pageAtual2 = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  